#general
.idea

#libreoffice
.~lock.state-diagram.odg*

#latex
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.sty

## Intermediate documents:
*.dvi
# these rules might exclude image files for figures etc.
*.ps
# *.eps
*.pdf
TemplateDocumentation.pdf
workstation-in-the-cloud.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

# custom area
*.syg
*.mw
*.slg
*.syi

## custom
#unimportant data
trash_*
practise/data/YHX-02427_raw.cap

#sensitive data
practise/data/wordlist.txt
practise/data/eula.accepted